<section class="bg-cream" id="services">
    <div class="section__titles">
        <h4 class="eyebrow">{{ 'home.services.eyebrow' | translate }}</h4>
        <h2>{{ 'home.services.title' | translate }}</h2>
        <p>{{ 'home.services.subtitle-one' | translate }}<br>{{ 'home.services.subtitle-two' | translate }}</p>
    </div>

    <div class="services__grid">
        @for (card of serviceCards; track card.id) 
        {
            <div class="rounded-box services__box">
                <img [src]="card.icon" alt="globe" class="services__icon">
                <span class="services__box-title">{{card.title()}}</span>
                <p class="services__box-description">{{card.content()}}</p>
                @if (card.isLocationRelated) 
                {
                    <div class="services__box-pill services__box-pill--green">
                        <img src="icons/pin.svg" alt="clock" class="services__pill-icon services__pill-icon--green">
                        <span class="services__pill-text">{{card.pill()}}</span>
                    </div>
                }
                @else
                {                        
                    <div class="services__box-pill">
                        <img src="icons/clock.svg" alt="clock" class="services__pill-icon">
                        <span class="services__pill-text">{{card.pill()}}</span>
                    </div>
                }
            </div>
        }
    </div>
</section>