<nav>
    <div class="logo">
        Mortal<b>Second</b>
    </div>

    <div class="navbar__links">
        <a href="#" class="links__option">What I Do</a>
        <a href="#" class="links__option">Porfolio</a>
        <a href="#" class="links__option">Demos</a>
        <a href="#" class="links__option">Coverage</a>
        <a href="#" class="links__option">IT Work</a>
        <a href="#" class="links__option">Process</a>
        <a href="#" class="links__option">Pricing</a>
    </div>
    
    <button class="language">EN / ES</button>
</nav>