<nav>
    <div class="logo">
        Mortal<b>Second</b>
    </div>

    <div class="navbar__links">
        <a href="#" class="links__option">{{ 'home.navbar.options.one' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.two' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.three' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.four' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.five' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.six' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.seven' | translate }}</a>
    </div>
    
    <button class="language"
    (click)="switchLang()">EN / ES</button>
</nav>