<nav [class.navbar--scrolled]="isScrolled()">
    <div class="logo">
        Mortal<b>Second</b>
    </div>

    <div class="navbar__links">
        <a href="#" class="links__option">{{ 'home.navbar.options.one' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.two' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.three' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.four' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.five' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.six' | translate }}</a>
        <a href="#" class="links__option">{{ 'home.navbar.options.seven' | translate }}</a>
    </div>

    <div class="language" (click)="switchLang()">
        <span class="language__left" [class.language--selected]="!isLangSpanish()">EN</span>
        <span class="language__right" [class.language--selected]="isLangSpanish()">ES</span>
    </div>
</nav>