/* Hero */

.hero{
    margin-top: 1.5rem; /* The navbar kinda gets in the way, so this gives some breathing room */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    padding: 4rem 30rem;

    text-align: center;
}

.status-dot{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--green);
}

.hero__queue-pill{
    font-weight: 800;
}

.queue{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.queue__slot{
    border: solid 2px var(--blueLight);
    border-radius: 0.3rem;
    width: 1.3rem;
    aspect-ratio: 1/1;
}

.queue__slot--filled{
    border-color: var(--blueDeep);
    background-color: var(--blueDeep);
}

.hero__buttons{
    display: flex;
    gap: 2rem;
}

.buttons__button{
    padding: 1.5rem 5rem;
    border-radius: 8rem;

    font-size: 1.6rem;
    font-weight: 800;
}

.buttons__button--main{
    border-color: var(--blueDeep);
    background-color: var(--blueDeep);
    color: white;
}

/* Sections */

section{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 6rem 8rem;
}

.section__titles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__titles p{
    font-weight: 600;
    line-height: 2.6rem;

    max-width: 60rem;
}

/* Services | What I Do */

.services__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.services__box{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    padding: 3rem;
    background-color: white;
}

.services__icon{
    width: 4rem;

    filter: var(--toBlue);
}

.services__box-title{
    font-size: 1.7rem;
    font-family: var(--smallTitlesFont);
    font-weight: 700;
    line-height: 2rem;
}

.services__box-description{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.services__box-pill{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    color: var(--blueBright);
    
    background-color: var(--blueFaint);
    padding: 0.8rem;
    width: fit-content;
    border-radius: 2rem;
}

.services__box-pill--green{
    color: var(--greenDark);
    background-color: var(--greenFaint);
}

.services__pill-icon{
    width: 1.5rem;

    filter: var(--toBrightBlue);
}

.services__pill-icon--green{
    filter: var(--toDarkGreen);
}

.services__pill-text{
    font-size: 1.3rem;
    font-weight: 700;
}

/* Portfolio | Recent Work */

.portfolio__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: 2rem;
}

.project__image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    height: 20rem;
    border-radius: 2rem 2rem 0 0;
}

.project__image-wrapper img{
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.project__eyebrow{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 1;
    
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blueDeep);
    
    background-color: var(--blueFaint);
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
}

.project__textbox{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    padding: 2rem;
}

.project__title{
    font-family: var(--smallTitlesFont);
    font-size: 3rem;
    font-weight: 800;
    color: var(--blueDeep);
}

.project__buttons{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.buttons__pills{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-right: auto;
    margin-top: 0.8rem;
}

.project__button{
    display: flex;
    gap: 0.2rem;

    margin-left: auto;
    margin-top: auto;

    color: var(--inkMuted);

    height: fit-content;
}

.button__icon{
    height: 1.4rem;

    filter: var(--toInkMuted);
}

/* Methods | How I Work */

.technologies__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.technologies__card-info{
    display: flex;
    gap: 2rem;
}

.card-info__icon{
    width: 5rem;

    filter: var(--toBlue);
}

.card-info__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-info__title-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-info__title{
    font-family: var(--smallTitlesFont);
    font-size: 2.2rem;
    font-weight: 800;
}

.card-info__subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--monoFont);
    color: var(--inkLight);
}

.technologies__wpf-pills{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.technologies__wpf-ui{
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.technologies__separation{
    border-top: solid 1px var(--blueLight);
    padding-top: 2rem;
}

.technologies__scope-card{
    display: flex;

    padding: 1.5rem;
    background-color: var(--cream);
}

.technologies__scope-icon{
    width: 3rem;
    margin-right: 1rem;
    filter: var(--toRed);
}