/* Hero */

.hero{
    margin-top: 1.5rem; /* The navbar kinda gets in the way, so this gives some breathing room */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    padding: 4rem 30rem;

    text-align: center;
}

.status-dot{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--green);
}

.hero__queue-pill{
    font-weight: 800;
}

.queue{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.queue__slot{
    border: solid 2px var(--blueLight);
    border-radius: 0.3rem;
    width: 1.3rem;
    aspect-ratio: 1/1;
}

.queue__slot--filled{
    border-color: var(--blueDeep);
    background-color: var(--blueDeep);
}

.hero__buttons{
    display: flex;
    gap: 2rem;
}

.buttons__button{
    padding: 1.5rem 5rem;
    border-radius: 8rem;

    font-size: 1.6rem;
    font-weight: 800;
}

.buttons__button--main{
    border-color: var(--blueDeep);
    background-color: var(--blueDeep);
    color: white;
}

/* Sections */

section{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 6rem 8rem;
}

.section__titles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__titles p{
    max-width: 60rem;
    font-weight: 600;
}

/* Services | What I Do */

.services__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.services__box{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    padding: 3rem;
    background-color: white;
}

.services__icon{
    width: 4rem;

    filter: var(--toBlue);
}

.services__box-title{
    font-size: 1.7rem;
    font-family: var(--smallTitlesFont);
    font-weight: 700;
    line-height: 2rem;
}

.services__box-description{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.services__box-pill{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    color: var(--blueBright);
    
    background-color: var(--blueFaint);
    padding: 0.8rem;
    width: fit-content;
    border-radius: 2rem;
}

.services__box-pill--green{
    color: var(--greenDark);
    background-color: var(--greenFaint);
}

.services__pill-icon{
    width: 1.5rem;

    filter: var(--toBrightBlue);
}

.services__pill-icon--green{
    filter: var(--toDarkGreen);
}

.services__pill-text{
    font-size: 1.3rem;
    font-weight: 700;
}