/* Import Modern-Normalize */
@import 'modern-normalize/modern-normalize.css';

/* Set Rem Sizing to 10px */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before{
    box-sizing: inherit;
}